{% extends 'base.html.twig' %}

{% block title %}Nouvelle tache
{% endblock %}

{% block body %}
	<div class="px-3">
		<p class="fs-3 mb-4" style="margin-top: -30px">Nouvelle
			<b>Tache</b>
		</p>
	</div>

	{{ include('tache/_form.html.twig') }}

	<div class="mb-4">
		<a href="{{ path('app_tache_index') }}" class="position-relative" style="font-size: .9em; text-decoration: none; left: 10px">
			<i class="bi bi-arrow-left-circle position-relative" style="top: -3px"></i>
			Revenir à la liste
		</a>
	</div>
{% endblock %}
