{% extends 'base.html.twig' %}

{% block title %}Projets
{% endblock %}

{% block body %}
	<p class="fs-3 mb-4" style="margin-top: -30px">Liste de vos
		<b>Projets</b>
	</p>

	<div class="shadow-sm p-3">
		<table class="table table-bordered table-striped" style="font-size: .9em">
			<thead>
				<tr>
					<th>Nom du projet</th>
					<th>Chef de projet</th>
					<th>Porteur de projet</th>
				</tr>
			</thead>
			<tbody>
				{% for projet in projets %}
					<tr>
						<td>{{ projet.nom }}</td>
						<td>{{ projet.chefprojet.username }}</td>
						<td>{{ projet.porteur.username }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="2">Aucun</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
