<div class="mt-4 mb-4">
	{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6 mb-3">
			{{ form_row(form.etat) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
		</div>
	</div>
	{{ form_end(form) }}
</div>
