{% extends 'base.html.twig' %}

{% block title %}Modifier Statut
{% endblock %}

{% block body %}
	<p class="fs-3 mb-4 ms-2" style="margin-top: -30px">Modifier /
		<b>Statut</b>
	</p>

	<div class="px-2">
		<div class="mb-3">
			{{ include('statut/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
		<div class="mb-3">
			{{ include('statut/_delete_form.html.twig') }}
		</div>
	</div>

	<a href="{{ path('app_statut_index') }}" class="position-relative" style="font-size: .9em; text-decoration: none; left: 10px">
		<i class="bi bi-arrow-left-circle position-relative" style="top: -3px"></i>
		Revenir à la liste
	</a>
{% endblock %}
