{{ form_start(form) }}
<div class="col-md-5 mb-3">
	{{ form_row(form.nom) }}
</div>
<div class="col-md-5">
	<button class="btn btn-primary px-4" style="font-size: .9em">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
